# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Cmake
Testing
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
install_manifest.txt
CMakeCache.txt

# Npm
node_modules/